<h4>
  {{#if err}}
  {{#each err.errors}}
  {{message}}<br>
  {{/each}}
  {{/if}}
</h4>
<form method = "POST" action = "/shows/add" align="center">
  <h2>
    * NAME OF SHOW: <input type="text" name="showTitle" value="{{err.errors.name.value}}"><br>
    * TOTAL NUMBER OF SEASONS WATCHED: <input type="text" name="seasonNumber" value="{{err.errors.name.value}}"><br>
    * NUMBER OF EPISODES PER SEASON: <input type="text" name="episodeNumber" value="{{err.errors.name.value}}"><br>
    * AVERAGE LENGTH OF EPISODE (usually either 21 or 43 minutes): <input type="text" name="episodeLength" value="{{err.errors.name.value}}"><br>
  </h2>
  <input class="btn" type="submit" name = "filter">
</form>
