{{#if shows}}
<h2>
  <div class="subtitle">Hello <div class="name">{{user.username}}</div>! {{lifeNetflixPercentage}}% of your life has been spent watching Netflix. <br>For more Netflix statistics, and to update/add shows, see below:</div>
  TEST: {{netflixPerc}}!!!! {{title}}<br>
</h2>
{{else}}
<h2>
  <div class="subtitle">Hello <div class="name">{{user.username}}</div>!</div>
</h2>
<h2>
  You haven't added a show yet! Click below to add your first show.
</h2>
{{/if}}
{{#each shows}}
<h3>
  <div class="title">{{title}}</div>
</h3>
<h2>
  Percentage of your life spent watching <div class="title">{{title}}</div>: {{lifePercentage}} <br>
  Percentage of your time on Netflix spent watching <div class="title">{{title}}</div>: {{netflixPerc}}% <br>
</h2>
{{/each}}
<button class="btn" type="button" name="signup" value ="" onclick="window.location.href='/shows/add'">A D D   S H O W</button>
