<h3>
  <u>
    Hello {{user.username}}! Here are your show stats:
  </u>
</h3>

{{#each shows}}
  <h3>
    {{title}}
    ----------------------------
  </h3>
  <h2>
    Percentage of your life spent on Netflix: {{lifeNetflixPercentage}}<br>
    Percentage of your life spent watching: {{lifePercentage}} <br>
    Percentage of your time on Netflix spent watching <u>{{title}}</u>: {{netflixPercentage}}%<br>
  </h2>
{{/each}}

<button class="btn" type="button" name="signup" value ="" onclick="window.location.href='/shows/add'">A D D   S H O W</button>
